<input type="text" [(ngModel)]="userID" (keyup.enter)="cargarUsuario()">
<div *ngIf="!user">
  Cargando
</div>
<div *ngIf="user">
  <img src="{{user.avatar}}" alt="" width="200">
  <h2>{{user.first_name}} {{user.last_name}}</h2>
</div>

<hr>
{{fecha | date:'fullDate'}}
{{fecha | date:'dd/MM/yy' | uppercase}} <br>
{{6 | calculadora:2}}

<hr>
<h2>Crear usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required>
    <span *ngIf="name.touched && !name.valid">
      El nombre no es valido
    </span>
  </p>
  <p>
    <label for="job">Job</label>
    <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required>
    <span *ngIf="job.touched && !job.valid">
      El trabajo no es valido
    </span>
  </p>
  <input type="submit" value="Guardar" [disabled]="!newUser.form.valid">
</form>

<div *ngIf="user_saved">
  <h2>Usuario guardado correctamente</h2>
  <h3>{{user_saved.name}}</h3>
  <h4>{{user_saved.job}}</h4>
</div>

